<div class="ui form">
  <textarea class="activity" rows="30" readonly></textarea>
</div>
<%_ script.create('JQuery')
  .add(`
$.activity = {
    el: $('textarea.activity'),
    url: '${route('Ui', {name: 'activity'})}',
    load() {
        const self = this;
        $.get(self.url)
            .done(function(json) {
                if (json.logs && $.addLog(self.el, json.logs)) {
                    self.time = json.time;
                }
            });
    },
    add(data) {
        const self = this;
        if (self.time === undefined || data.time >= self.time) {
            if ($.addLog(self.el, data.message)) {
                self.time = data.time;
            }
        }
    }
}
`)
  .addInitializer(`
$.activity.load();
`) -%>
