<%_ script.create('JQuery')
  .add(`
$.uiRefresh = function() {
    $.get('${route('Ui', {name: 'updates'})}')
        .done(function(json) {
            if (json.counter) {
                for (const [k, v] of Object.entries(json.counter)) {
                    $(\`[data-counter="\${k}"]\`).each(function() {
                        const el = $(this);
                        const value = v && v.value !== undefined ? v.value : v;
                        el.html(value);
                    });
                }
            }
            if (json.updates) {
                for (const bridge of Object.keys(json.updates)) {
                    for (const [k, v] of Object.entries(json.updates[bridge])) {
                        $(\`[data-bridge="\${bridge}"] [data-key="\${k}"]\`).each(function() {
                            const el = $(this);
                            const value = v && v.value !== undefined ? v.value : v;
                            if (el.is('input')) {
                                el.val(value);
                            } else {
                                el.html(value ? value : '&ndash;');
                            }
                        });
                    }
                }
            }
        });
}
$.addLog = function(el, message) {
    message += '\\r\\n';
    if (el.text().substr(-message.length) !== message) {
        el.append(document.createTextNode(message));
        el.scrollTop(el[0].scrollHeight - el.height());
        return true;
    }
    return false;
}
$.viewLog = function(title, log, seq) {
    $.post('${route('Ui', {name: 'task', op: 'log'})}', {log, seq})
        .done(function(json) {
            if (json.success) {
                const logs = document.createTextNode(json.logs);
                const content = \`<div class="ui fluid scrolling container v-min v-max"><pre></pre></div>\`;
                const dlg = $.ntdlg.create('log-view-dlg', title, content, {
                    size: 'fullscreen',
                    show() {
                        dlg.find('pre').append(logs);
                    },
                    buttons: {
                        okay: {
                            type: 'green approve',
                            caption: '<i class="check icon"></i>${_('Ok')}',
                        }
                    }
                });
                $.ntdlg.show(dlg);
            } else {
                $.tasks.notify(json);
            }
        });
}
$.hidePayload = function(message) {
    if (message) {
        message = message.replace(
            /[A-Za-z0-9\\+\\/\\=\\@\\,]{40,}/g,
            s => \`<span data-tooltip="\${s}" data-position="right center"><i class="eye icon"></i></span>\`
        );
    }
    return message;
}
$.isPayload = function(data) {
    return Array.isArray(data) || typeof data === 'object' && data.constructor.name === 'Object';
}
$.toStr = function(o) {
    if ($.isPayload(o)) {
        return JSON.stringify(o, null, '  ');
    } else if (o !== undefined && o !== null) {
        return o.toString();
    }
    return '';
}
`) -%>