body.with-menu {
  padding-top: 5em;
}

body:not([class]) main, #login-container {
  height: 100%;
}

#login-container > div {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

img.logo {
  margin-right: 1em !important;
}

@media only screen and (min-width: 1200px) {
  .ui.container.queue-result {
    max-width: 30em;
  }
  .ui.container.err-data {
    max-width: 40em;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .ui.container.queue-result {
    max-width: 25em;
  }
  .ui.container.err-data {
    max-width: 30em;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .ui.container.queue-result {
    max-width: 20em;
  }
  .ui.container.err-data {
    max-width: 20em;
  }
}

@media only screen and (max-width: 767.98px) {
  .ui.container.queue-result {
    max-width: 75vw;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .ui.container.err-data {
    max-width: 75vw;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
